<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924314436999-cmeuft8h3auars30ju81f7c1kstcp9s1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924314436999-cmeuft8h3auars30ju81f7c1kstcp9s1</string>
	<key>API_KEY</key>
	<string>AIzaSyDtsGa7Y8e4xXbo7QZtmGHMwBmrLpCkm8M</string>
	<key>GCM_SENDER_ID</key>
	<string>924314436999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dietDesigner</string>
	<key>PROJECT_ID</key>
	<string>diet-designer-c72db</string>
	<key>STORAGE_BUCKET</key>
	<string>diet-designer-c72db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924314436999:ios:158a5dc907eba1bb77ff22</string>
</dict>
</plist>